<p>
    It is currently <strong>{{ sensorData['room_temperature'].state }}&nbsp;&deg;C</strong>
</p>
<p>
    The current setting is: <strong>{{ sensorData['room_setpoint'].state }}&nbsp;&deg;C</strong>.<br>
    <a href="#">Change this (TODO)</a>
</p>
