<div class="card col-4">
    <div class="card-body">
        <form method="post" action="{{ path('devices.actuator', { device: device.identifier, actuator: actuator }) }}">
            <div class="form-group" data-state="{{ sensor.state }}" id="tempcontrol"></div>
            <button type="submit" class="btn btn-primary">Change setpoint</button>
        </form>
    </div>
</div>

<script src="/js/tempcontrol.bundle.js"></script>
