{%  extends '@layout/default.html.twig' %}

{% block title %}Actuator{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            {{ showActuator|raw }}
        </div>
    </div>
{% endblock %}