{% extends '@layout/default.html.twig' %}

{% block title %}Device{% endblock %}

{% block content %}
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Device</th>
                <th scope="col">Identifier</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for device in devices %}
            <tr>
                <td>{{ device.name }}</td>
                <td>{{ device.identifier }}</td>
                <td>
                    <a href="{{ path('devices.show', { 'name': device.identifier }) }}" class="btn btn-primary">
                        View
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
