{% extends '@layout/default.html.twig' %}

{% block title %}{{ device.identifier }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            {{ summary|raw }}
        </div>
    </div>

    <a href="{{ path('devices.sensors', { device: device.identifier }) }}">View all sensor data</a>
{% endblock %}
