{% extends '@layout/default.html.twig' %}

{% block title %}Device{% endblock %}

{% block content %}
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Device</th>
                <th scope="col">Summary</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>OpenTherm Gateway</td>
                <td>Current temperature: 32 degrees celsius</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
