{% extends '@layout/default.html.twig' %}

{% block title %}{{ sensor }} - {{ device.identifier }}{% endblock %}

{% block content %}

<div id="sensor-chart" data-sensor="{{ sensor }}" data-device="{{ device.identifier }}"></div>

{% endblock %}

{% block javascript %}
<script src="/js/sensorchart.bundle.js"></script>
{% endblock %}
