{% extends '@layout/default.html.twig' %}

{% block title %}Sensor data for {{ device.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>Sensor name</th>
                    <th>Value</th>
                    <th>Last update</th>
                </tr>
                </thead>
                <tbody>
                {% for sensor in sensorData %}
                    <tr>
                        <td>{{ sensor.sensor }}</td>
                        <td>{{ sensor.state }}</td>
                        <td>{{ sensor.createdAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
