<?php

return [
    'devices' => [
        'otgw' => [
            'type' => \Device\Device\OpenThermGateway::class,
            'options' => [
                'host' => '',
                'port' => 6638
            ]
        ]
    ]
];
