<?php

return [
    'devices' => [
        'otgw' => [
            'type' => \OpenTherm\Device\OpenThermGateway::class,
            'options' => [
                'host' => '',
                'port' => 6638
            ]
        ],
        'server' => [
            'type' => \Computer\Device\Computer::class,
            'options' => [
                'host' => 'server.lan',
                'mac' => 'de:ad:be:ef:de:ad',
                'user' => 'control',
            ]
        ],
    ]
];
